<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Recipe Book</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/recipes']" routerLinkActive="router-link-active"  aria-current="page" *ngIf="isAuth">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/shopping-list']" routerLinkActive="router-link-active" aria-current="page">Shopping List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/auth']" routerLinkActive="router-link-active" aria-current="page" *ngIf="!isAuth">Authentication</a>
          </li>

        </ul>
        <ul class="navbar-nav nav ">

          <li class="nav-item" *ngIf="isAuth">
            <a href="" class="nav-link" style=" cursor: pointer;">Logout</a>
          </li>
            <li class="nav-item dropdown" *ngIf="isAuth">
                <a class="nav-link dropdown-toggle" appDropdown id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Manage
                </a>
                <ul class="dropdown-menu"  aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item custom" style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
                  <li><a class="dropdown-item custom" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
                </ul>
              </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>