.btn {
    background-color: #629292 !important;
    color: white !important;
}

.dropdown-menu {
    background-color: #629292    !important;
    width: 20vw;
    
}
.custom:hover {
    color: #d1d3d3  !important;
    background-color: #238181  !important;

}

.custom {
    color: #bdbdbd  !important;
}