<div class="row" >
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" style="padding-top: 3%;" src="https://cdn.dribbble.com/users/4070361/screenshots/13357276/dribbble_open_4x.png" alt="Recipe book" /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Recipe Referances</h4>
                        <p style="padding-left: 1%;" class="text-black-50 mb-0">Create and save your Recipes</p>
                        <p style="padding-left: 1%;" class="text-black-50 mb-0">Create New Recipe from the Green New Recipe</p>
                        <p style="padding-left: 1%;" class="text-black-50 mb-0">Get your saved Recipes form manage</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

