<div class="row">
    <div class="col-md-5">
        <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-md-7">
        <app-recipe-detail *ngIf="selectedRecipe; else infoText"
        [recipe]="selectedRecipe"></app-recipe-detail>
        <ng-template #infoText>
            <div class="row" style="margin-top: 9%;">
                <h5>
                    <hr>
                    Pleae select a Recipe
                </h5>
            </div>
        </ng-template>
    </div>
</div>
